site_name: My Cloud Architecture Course Materials
site_url: https://jofuol.github.io/cloud-architecture-course/
repo_url: https://github.com/jofuol/cloud-architecture-course
repo_name: jofuol/cloud-architecture-course

theme:
  name: material
  features:
    - search.suggest
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - content.code.copy
    - content.code.select
    - content.tabs.annotate
  icon:
    repo: fontawesome/brands/github

plugins:
  - search

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home: index.md
  - Google Cloud Skills Boost Labs:
    - google-skills/labs/index.md
    - Cloud Load Balancing:
      - Network Load Balancer: google-skills/labs/network-load-balancers/index.md
  - Google Cloud CLI:
    - google-cloud-cli/index.md
    - Managing Accounts: google-cloud-cli/accounts.md
    - Managing Projects: google-cloud-cli/projects.md
    - Managing region and zone: google-cloud-cli/regional-global-config.md
    - Managing Virtual Machine Instances: google-cloud-cli/virtual-machines.md
    - Managing Firewall Rules: google-cloud-cli/firewall-rules.md
    - Managing Load Balancing Service: google-cloud-cli/load-balancing-service.md

